# ==============================================================================
# File:             .editorconfig
# Purpose:          Enforce consistent editor behavior across MINT-MCP
# Author:           skr
# Owner:            MINT-RESEARCH / NeoMINT GmbH
# Contact:          mint-research@neomint.com
# License:          MIT / ? NeoMINT GmbH 2025
# Created:          2025-06-17
# Last Modified:    2025-06-17 by skr
# Status:           Stable
# Tags:             editor, formatting, standards, consistency
# ==============================================================================

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{py,pyi}]
indent_size = 4
max_line_length = 88

[*.{ps1,psm1}]
indent_size = 4
max_line_length = 120

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = 80

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[Makefile]
indent_style = tab

[*.{sh,bash}]
indent_size = 2